VITE_SUPABASE_URL=https://supabase.kanarskaia.online
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzY3Njk5OTkxLCJleHAiOjIwODMwNTk5OTF9.gPTxkXaCI5dyZH-o1CdtZQgUEWUWtbl3FUG5qY80Ehs
VITE_TENDERS_LIMIT=200
VITE_API_KEY=w28tUrpH79dgC6tOrO/xyMm4mbEDMFrAEeqDwJ3wYq3Hla8DOqu9glF9FR1WsT4R
VITE_API_BASE=https://supabase-api.kanarskaia.online